.croissant-photo {
  max-width: 30%;
  border-radius: 10px;
  display: block;
  margin: 5px auto;
}
h1,
p {
  text-align: center;
  margin: 16px 0px;
  display: block;
}
footer {
  text-align: center;
  display: block;
}

footer a {
  color: rgb(20, 134, 33);
}
body {
  background-color: bisque;
}

a {
  margin: 0px 10px;
}
